@font-face {
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");
}
@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}



body
{
    background:linear-gradient(180deg, #303030, #101010);
    background-attachment: fixed;
    max-height: 100vh;
    color: #dddddd;
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");
}

.modal-content
{
    background:linear-gradient(180deg, #303030, #101010);
    color: #dddddd;
}

.colArticle
{
    background-color: #000000 ;
}

.btn
{
    background-color: black ;
    color: #97ed02;
}

#titleColor{
    color: #97ed02;
font-family: Manrope;
src: url("../fonts/Manrope.otf") format("OpenType");

}

h5{
font-family: Manrope;
src: url("../fonts/Manrope.otf") format("OpenType");
}
footer
{
    background-color: #97ed02;
    color:black;
}

.card-body
{
    background-color: #444444;
    color:white;
}

a, a:hover{
    text-decoration: none;
    color: #97ed02;
}


#boldfont{
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}