@font-face {
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");
}
@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}



body
{
    background-color: #dadee4;
    background-attachment: fixed;
    max-height: 100vh;
    color: black;
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");
}

.modal-content
{
    background-color: #dadee4;
    color: black;
}

.colArticle
{
    background-color: #fffdfa;
}

.btn
{
    background-color: #fffdfa ;
    color: #ff9100;

}

#titleColor{
    color: #ff9100;
    font-family: Manrope;
src: url("../fonts/Manrope.otf") format("OpenType");
}

h5{
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
    }

a, a:hover{
    text-decoration: none;
    color: #ff9100;
}

#linkMention{
    text-decoration: none;
    color:white;
}

#collapseMentions{
    color:black;
}

footer{
    background-color: #ff9100fa ;
    color: #fffd;
}

#boldfont{
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}
