@font-face {
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");
}
@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}



body
{
    background:linear-gradient(180deg, #40e4de, #092636);
    background-attachment: fixed;
    max-height: 100vh;
    color: #092636;
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("OpenType");

}

.modal-content
{
    background:linear-gradient(180deg, #40e4de, #092636);
    background-attachment: fixed;
    max-height: 100vh;
    color: white;
}

.colArticle
{
    background-color: white;
    color: #092636 ;
}

.btn
{
    background-color: white;
    color: #40e4de;

}

#titleColor{
    color: rgb(255, 255, 255);
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
 
}

h5{
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}

a, a:hover{
    text-decoration: none;
    color: #092636;
}

h2, h3{
    color:white;
}

footer{
    background-color: white;
    color:  #092636;
}

#boldfont{
    font-family: Manrope;
    src: url("../fonts/Manrope.otf") format("OpenType");
}

