@font-face {
    font-family: Manrope-Regular;
    src: url("../fonts/Manrope-Regular.otf") format("truetype");
}
@font-face {
    font-family: Manrope-bold;
    src: url("../fonts/Manrope-bold.otf") format("truetype");
}

@font-face {
    font-family: Manrope-medium;
    src: url("../fonts/Manrope-medium.otf") format("truetype");
}



body
{
    background:linear-gradient(180deg, #303030, #101010);
    background-attachment: fixed;
    max-height: 100vh;
    color: #dddddd;
}

.modal-content
{
    background:linear-gradient(180deg, #303030, #101010);
    color: #dddddd;
}

.colArticle
{
    background-color: #000000 ;
}

.btn
{
    background-color: #dddddd;
    color: black;
}
